/* Dostosowanie wyglądu stopki */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
}

/* Przyciski logowania */
header .btn-primary {
    margin-right: 10px;
}

/* Tabela */
table {
    margin-top: 20px;
    font-size: 14px;
}
